<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../scripts/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div id="navBar"></div>
    <title>Julanar Art</title>
  </head>
  <body>
   

	<div class="text-center">
		<h1>The Art of Julanar</h1>
		<p>Educational Comics - English</p> 
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/educational-comics/english/future-simple-tense-01.jpg" alt="future simple tense 01" class="img-fluid img-thumbnail" id="myImg1">
            <figcaption>future simple tense 01</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/educational-comics/english/future-simple-tense-02.jpg" alt="future simple tense 02" class="img-fluid img-thumbnail" id="myImg2">
            <figcaption>future simple tense 02</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/educational-comics/english/future-tense-01.jpg" alt="future tense" class="img-fluid img-thumbnail" id="myImg3">
            <figcaption>future tense</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/educational-comics/english/present-simple-tense-01.jpg" alt="present simple tense 01" class="img-fluid img-thumbnail" id="myImg4">
            <figcaption>present simple tense 01</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/educational-comics/english/infinitive-verb.jpg" alt="" class="img-fluid img-thumbnail" id="myImg5">
            <figcaption></figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="" alt="" class="img-fluid img-thumbnail" id="myImg6">
            <figcaption></figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/educational-comics/english/basic-vocab-01.jpg" alt="basic vocab 01" class="img-fluid img-thumbnail" id="myImg7">
            <figcaption>basic vocab 01</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/educational-comics/english/basic-vocab-02.jpg" alt="basic vocab 02" class="img-fluid img-thumbnail" id="myImg8">
            <figcaption>basic vocab 02</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/educational-comics/english/basic-vocab-03.jpg" alt="basic vocab 03" class="img-fluid img-thumbnail" id="myImg9">
            <figcaption>basic vocab 03</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div><div class = "row mb-4">
        <div class = "col">
            <img src="../images/educational-comics/english/english-lesson-family--dropdown-word-select-01.jpg" alt="English lesson family - dropdown word select 01" class="img-fluid img-thumbnail" id="myImg7">
            <figcaption>English lesson family - dropdown word select 01</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/educational-comics/english/english-lesson-family--dropdown-word-select-02.jpg" alt="English lesson family - dropdown word select 02" class="img-fluid img-thumbnail" id="myImg8">
            <figcaption>English lesson family - dropdown word select 02</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/educational-comics/english/english-lesson-family--dropdown-word-select-03.jpg" alt="English lesson family - dropdown word select 03" class="img-fluid img-thumbnail" id="myImg9">
            <figcaption>English lesson family - dropdown word select 03</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/educational-comics/english/english-lesson-family--dropdown-word-select-04.jpg" alt="English lesson family - dropdown word select 04" class="img-fluid img-thumbnail" id="myImg7">
            <figcaption>English lesson family - dropdown word select 04</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/educational-comics/english/english-lesson-family--dropdown-word-select-05.jpg" alt="English lesson family - dropdown word select 05" class="img-fluid img-thumbnail" id="myImg8">
            <figcaption>English lesson family - dropdown word select 05</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="" alt="" class="img-fluid img-thumbnail" id="myImg9">
            <figcaption>basic vocab 03</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src = "../scripts/script.js"></script>
  </body>
</html>