<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../scripts/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div id="navBar"></div>
    <title>Julanar Art</title>
  </head>
  <body>
   

	<div class="text-center">
		<h1>The Art of Julanar</h1>
		<p>Fine Art</p> 
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/fine-art/messenger.jpg" alt="Messenger" class="img-fluid img-thumbnail" id="myImg1">
            <figcaption>Messenger</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/fine-art/writing.jpg" alt="The Lady Writing" class="img-fluid img-thumbnail" id="myImg2">
            <figcaption>The Lady Writing</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/fine-art/fairy.png" alt="Fairy" class="img-fluid img-thumbnail" id="myImg3">
            <figcaption>Fairy</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/fine-art/les-miserables.jpg" alt="les Miserables" class="img-fluid img-thumbnail" id="myImg4">
            <figcaption>les Miserables</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>

        <div class = "col">
            <img src="../images/fine-art/portrait.jpg" alt="Portrait" class="img-fluid img-thumbnail" id="myImg5">
            <figcaption>Portrait</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/fine-art/waiting-01.jpg" alt="Waiting 01" class="img-fluid img-thumbnail" id="myImg6">
            <figcaption>Waiting 01</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/fine-art/picking-flowers.jpg" alt="Picking Flowers" class="img-fluid img-thumbnail" id="myImg7">
            <figcaption>Picking Flowers</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/fine-art/greek-mythology.jpg" alt="Messenger" class="img-fluid img-thumbnail" id="myImg8">
            <figcaption>Messenger</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/fine-art/birds.jpg" alt="Birds" class="img-fluid img-thumbnail" id="myImg9">
            <figcaption>Birds</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/fine-art/portrait-01.jpg" alt="Portrait 01" class="img-fluid img-thumbnail" id="myImg10">
            <figcaption>Portrait 01</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/fine-art/dreaming.jpg" alt="Dreaming" class="img-fluid img-thumbnail" id="myImg11">
            <figcaption>Dreaming</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/fine-art/christmas.jpg" alt="Christmas" class="img-fluid img-thumbnail" id="myImg12">
            <figcaption>Christmas</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/fine-art/waiting-02.jpg" alt="Waiting 02" class="img-fluid img-thumbnail" id="myImg13">
            <figcaption>Waiting 02</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/fine-art/portrait-of-ada-lovelace.jpg" alt="A Portrait of Ada Lovelace" class="img-fluid img-thumbnail" id="myImg14">
            <figcaption>A Portrait of Ada Lovelace</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/fine-art/fairy-pencils.jpg" alt="Fairy - pencils" class="img-fluid img-thumbnail" id="myImg15">
            <figcaption>Fairy - pencils</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/fine-art/field.jpg" alt="Waiting 02" class="img-fluid img-thumbnail" id="myImg16">
            <figcaption>Waiting 02</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="" class="img-fluid img-thumbnail" alt="" id="myImg17">
            <figcaption></figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="" class="img-fluid img-thumbnail" alt="" id="myImg18">
            <figcaption></figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src = "../scripts/script.js"></script>  
</body>
</html>