<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../scripts/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div id="navBar"></div>
    <title>Julanar Art</title>
  </head>
  <body>
   

	<div class="text-center">
		<h1>The Art of Julanar</h1>
		<p>Educational Comics - Computer Science</p> 
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/educational-comics/other/accounting-cash-flow-statement-01.jpg" alt="accounting - cash flow statement 01" class="img-fluid img-thumbnail" id="myImg1">
            <figcaption>accounting - cash flow statement 01</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/educational-comics/other/accounting-cash-flow-statement-02.jpg" alt="accounting - cash flow statement 02" class="img-fluid img-thumbnail" id="myImg2">
            <figcaption>accounting - cash flow statement 02</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/educational-comics/other/accounting-cash-flow-statement-03.jpg" alt="accounting - cash flow statement 03" class="img-fluid img-thumbnail" id="myImg3">
            <figcaption>accounting - cash flow statement 03</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>
    <div class = "row mb-4">
        <div class = "col">
            <img src="../images/educational-comics/other/accounting-the-balance-sheet.jpg" alt="accounting - the balance sheet" class="img-fluid img-thumbnail" id="myImg4">
            <figcaption>accounting - the balance sheet</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="../images/educational-comics/other/t-shirt-design.jpg" alt="t-shirt design" class="img-fluid img-thumbnail" id="myImg5">
            <figcaption>t-shirt design</figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class = "col">
            <img src="" class="img-fluid img-thumbnail" alt="" id="myImg6">
            <figcaption></figcaption>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src = "../scripts/script.js"></script>  
</body>
</html>